name: Main
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

jobs:
  build:
    name: Build API image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3.0.5
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-srv
          restore-keys: |
            ${{ runner.os }}-single-buildx

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/weneedthepoh/euromillions-api
          tags: type=sha,event=branch,format=long,prefix=

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  terraform:
    name: Execute Terraform
    runs-on: ubuntu-latest
    environment: staging

    defaults:
      run:
        working-directory: configs/terraform

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ~1.0

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init -backend-config="conn_str=postgres://${{ secrets.TF_STATE_DB_USERNAME }}:${{ secrets.TF_STATE_DB_PASSWORD }}@${{ secrets.TF_STATE_DB_HOST }}:${{ secrets.TF_STATE_DB_PORT }}/${{ secrets.TF_STATE_DB_NAME }}?sslmode=disable"

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
        env:
          TF_WORKSPACE: staging
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    name: Deploy API
    runs-on: ubuntu-latest
    environment: staging
    needs: [build, terraform]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy api
        run: |
          flyctl deploy --now -a staging-euromillions-api \
            -i ${{ env.REGISTRY }}/weneedthepoh/euromillions-api:${{ github.sha }} \
            -e EUROMILLIONS_MIN_YEAR=2004 \
            -e EUROMILLIONS_WEB_BASE_URL=https://www.euro-millions.com \
            -e FLASK_APP=euromillions_api \
            -e FLASK_ENV=development \
            -e DB_NAME=${{ secrets.STAGING_DB_NAME }} \
            -e DB_SCHEMA=${{ secrets.STAGING_DB_SCHEMA }} \
            -e DB_USER=${{ secrets.STAGING_DB_USER }} \
            -e DB_PASSWORD=${{ secrets.STAGING_DB_PASSWORD }} \
            -e DB_HOST=${{ secrets.STAGING_DB_HOST }} \
            -e DB_PORT=${{ secrets.STAGING_DB_PORT }}
